@{
    ViewData["Title"] = "Novo Adiantamento de OS";
}

@section styles {

    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Novo Adiantamento de OS</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Novo Adiantamento de OS</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>



    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informações</h3>
                </div>

                <form role="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label id="lblNome">Ordem de Serviço</label>
                                <input type="text" class="form-control" id="txtNome" placeholder="Digite a ordem de serviço">
                            </div>

                            <div class="form-group col-md-2">
                                <label id="lblBairro">Status Adiantamento</label>
                                <select id="cboEstado" class="form-control form-control">
                                    <option value="Fisica">Selecione</option>
                                    <option value="Fisica">Resolvido</option>
                                    <option value="Fisica">Pendente</option>

                                </select>
                            </div>
                        </div>
                        <div class="row">


                            <div class="form-group col-md-2">
                                <label id="lblNome">Data Adiantamento</label>
                                <input type="date" class="form-control" id="txtNome" placeholder="">
                            </div>
                            <div class="form-group col-md-2">
                                <label id="lblNome">Data Quitação</label>
                                <input type="date" class="form-control" id="txtNome" placeholder="">
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label id="lblNome">Valor Adiantamento</label>
                                <input type="" class="form-control" id="txtNome" placeholder="Digite o valor">
                            </div>
                           


                        </div>
                        
                        <label id="lblTelefoneFixo">Status</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3"><span id="switch-ativo">Ativo</span></label>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer col-md-12">
                        <div class="col-md-10 text-center">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/lib/jquery.dataTables.js"></script>
    <script src="~/lib/dataTables.bootstrap4.js"></script>
    <script>
                    $(document).ready(function () {

                        $("#customSwitch3").click(function () {
                            if ($("#customSwitch3").is(':checked')) {
                                $("#switch-ativo").text("Ativo");
                            } else {
                                $("#switch-ativo").text("Inativo");
                            }
                        });
                    });
    </script>
}
