@{
    ViewData["Title"] = "Nova OS";
}

@section styles {

    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Nova Ordem De Serviço</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">>Nova Ordem De Serviço</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>



    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informações</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label id="lblDataNasc">Data da Solicitação</label>
                                <input type="date" class="form-control" id="txtDataNasc" placeholder="dd/mm/aaaa">
                            </div>
                            <div class="form-group col-md-2">
                                <label id="lblNome">Data Do Atendimento</label>
                                <input type="date" class="form-control" id="txtNome" placeholder="dd/mm/aaaa">
                            </div>
                            <div class="form-group col-md-4">
                                <label id="lblSobrenome">Cliente</label>
                                <input type="text" class="form-control" id="txtSobrenome" placeholder="Digite o Nome do Cliente">
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label id="lblCEP">Filial</label>
                                <input type="text" class="form-control" id="txtCep" placeholder="Digite a Filial">
                            </div>

                            <div class="form-group col-md-3">
                                <label id="lblLogradouro">Tipo de Serviço</label>
                                <input type="text" class="form-control" id="txtLogradouro" placeholder="Digite o Tipo de serviço">
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label id="lblComplemento">Hora Entrada</label>
                                <input type="time" class="form-control" id="txtComplemento" placeholder="">
                            </div>
                            <div class="form-group col-md-2">
                                <label id="lblBairro">Hora Saída</label>
                                <input type="time" class="form-control" id="txtBairro" placeholder="">
                            </div>
                            <div class="form-group col-md-3">
                                <label id="lblNumero">Técnico</label>
                                <input type="text" class="form-control" id="txtNumero" placeholder="Digite o Nome do técnico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label id="lblTelefoneFixo">Materiais usados</label>
                                <input type="text" class="form-control" id="txtTelefoneFixo" placeholder="Digie os materias que será usado">
                            </div>
                            <div class="form-group col-md-5">
                                <label id="lblTelefoneFixo">Observação da OS</label>
                                <input type="text" class="form-control" id="txtTelefoneFixo" placeholder="Digite alguma observação da OS">
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-4">
                                <label id="lblFuncao">Descrição da OS</label>
                                <textarea class="form-control form-control-sm" placeholder="Descreva seu módulo"></textarea>
                            </div>

                        </div>
                        <label id="lblTelefoneFixo">Status</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3"><span id="switch-ativo">Ativo</span></label>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer col-md-12">
                        <div class="col-md-10 text-center">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script src="~/lib/jquery.dataTables.js"></script>
    <script src="~/lib/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {

            $("#customSwitch3").click(function () {
                if ($("#customSwitch3").is(':checked')) {
                    $("#switch-ativo").text("Ativo");
                } else {
                    $("#switch-ativo").text("Inativo");
                }
            });
        });
    </script>
}