@{
    ViewData["Title"] = "Novo Cliente";
}

@section styles {

    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />
    
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Novo Adiantamento de OS</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Novo Adiantamento de OS</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>



    <div>
            <div class="form-row">
                <p class="col-10">
                    <spam class="ml-2">Ordem de Serviço:</spam><input type="number" class="form-control form-control-sm ml-2"/>
                </p>
            </div>
            <div class="form-row">
                <p class="col-5">
                    <spam class="ml-2">Valor Adiantamento:</spam> <input type="number" class="form-control form-control-sm ml-2"/>
                </p>
                <p class="col-5">
                    <spam class="ml-2">Status Adiantamento:</spam> <select class="form-control form-control-sm ml-2">
                                                                        <option> </option>
                                                                    </select>
                </p>
            </div>
            <div class="form-row">
                <p class="col-5">
                    <spam class="ml-2">Data Adiantamento:</spam> <input type="date" class="form-control form-control-sm ml-2"/>
                </p>
                <p class="col-5">
                    <spam class="ml-2">Data Quitação:</spam> <input type="date" class="form-control form-control-sm ml-2"/>
                </p>
            </div>
            <p class="col-10">
                <input type="checkbox" name="A" value="A"><spam class="ml-2"> Ativo</spam>
            </p>
    </div>
</div>