@{
    ViewData["Title"] = "Novo Dado Bancário";
}

@section styles {

    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dados Bancários</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dados Bancários</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informações</h3>
                </div>

                <form role="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label id="lblNome">Técnico</label>
                                <input type="text" class="form-control" id="txtNome" placeholder="Digite o Nome do Técnico">
                            </div>
                            <div class="form-group col-md-3">
                                <label id="lblBairro">Selecione o tipo de Pessoa</label>
                                <select id="cboEstado" class="form-control form-control">
                                    <option value="Fisica">Física</option>
                                    <option value="Juridica">Juridica</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">


                            <div class="form-group col-md-2">
                                <label id="lblNumero">Banco</label>
                                <input type="text" class="form-control" id="txtNumero" placeholder="Digite o Banco">
                            </div>
                            <div class="form-group col-md-2">
                                <label id="lblComplemento">Agência</label>
                                <input type="text" class="form-control" id="txtComplemento" placeholder="Digite a agência">
                            </div>
                            <div class="form-group col-md-2">
                                <label id="lblBairro">Conta</label>
                                <input type="text" class="form-control" id="txtBairro" placeholder="Digite a conta">
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label id="lblTelefoneFixo">Nome do Titular</label>
                                <input type="tel" class="form-control" id="txtTelefoneFixo" placeholder="Digite o nome do titular da conta">
                            </div>
                            <div class="form-group col-md-3">
                                <label id="lblCelular">CPF ou CNPJ</label>
                                <input type="tel" class="form-control" id="txtCelular" placeholder="Digite o CPF ou CNPJ">
                            </div>
                            <div class="form-group col-md-2">


                            </div>
                        </div>
                        <label id="lblTelefoneFixo">Status</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3"><span id="switch-ativo">Ativo</span></label>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer col-md-12">
                        <div class="col-md-10 text-center">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            </div>
            </div>

            @section scripts {

                <script src="~/lib/jquery.dataTables.js"></script>
                <script src="~/lib/dataTables.bootstrap4.js"></script>
                <script>
                    $(document).ready(function () {

                        $("#customSwitch3").click(function () {
                            if ($("#customSwitch3").is(':checked')) {
                                $("#switch-ativo").text("Ativo");
                            } else {
                                $("#switch-ativo").text("Inativo");
                            }
                        });
                    });
                </script>
            }
