@{
    ViewData["Title"] = "Usuários";
}

@section styles {
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/fontawesome.css" />
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Parceiro</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Parceiro</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-lg-10">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Parceiros</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Parceiro</th>
                                    <th>Ativo</th>
                                    <td>Ações</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Via Varejo </td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-dark ">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Americanas</td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GPA</td>
                                    <td>Não</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ponto Frio</td>
                                    <td>Não</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="Cadastro" asp-action="FormParceiro" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- DataTables -->

@section scripts {

    <script src="~/lib/jquery.dataTables.js"></script>
    <script src="~/lib/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "language": {
                    "emptyTable": "Não há registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Registros",
                    "infoFiltered": "(Filtrando de _MAX_ total Registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Registros",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Busca:",
                    "zeroRecords": "Nenhum registro foi encontrado",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Pr&oacutexima",
                        "previous": "Anterior"
                    },
                },
                "order": [[0, "desc"]], lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                dom: "<'row mai-datatable-header'<'col-sm-6'l><'col-sm-6 text-right'B>><'row mai-datatable-body'<'col-sm-12'tr>><'row mai-datatable-footer'<'col-sm-5'i><'col-sm-7'p>>"
            });
        });
    </script>
}


