@{
    ViewData["Title"] = "Novo Cliente";
}

@section styles {

    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />
    
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Novo Cliente</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Novo Cliente</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>



    <div>
        <div class="form-row">
            <p class="col-10 ml-2">
                <spam class="ml-2">Nome do Técnico:</spam><input type="text" class="form-control form-control-sm ml-2"/>
            </p>
        </div>
        <div class="form-row">
            <p class="col-5 ml-2">
                <spam class="ml-2">RG:</spam><input type="number" class="form-control form-control-sm ml-2"/>
            </p>
            <p class="col-5 ml-2">
                <spam class="ml-2">CPF:</spam><input type="number" class="form-control form-control-sm ml-2"/>
            </p>
        </div>
        <div class="form-row">
            <p class="col-10 ml-2">
                <spam class="ml-2">Logradouro:</spam><input type="text" class="form-control form-control-sm ml-2">
        </div>
        <div class="form-row">
            <p class="col-5 ml-2">
                <spam class="ml-2">Número:</spam><input type="number" class="form-control form-control-sm ml-2"/>
            </p>
            <p class="col-5 ml-2">
                <spam class="ml-2">Complemento:</spam><input type="text" class="form-control form-control-sm ml-2"/>
            </p>
        </div>
        <div class="form-row">
            <p class="col-5 ml-2">
                <spam class="ml-2">Cidade:</spam><input type="text" class="form-control form-control-sm ml-2"/>
            </p>
            <p class="col-5 ml-2">
                <spam class="ml-2">Estado:</spam><select class="form-control form-control-sm ml-2">
                                                    <option> </option>   
                                                 </select>
            </p>
        </div>
        <div class="form-row">
            <p class="col-5 ml-2">
                <spam class="ml-2">CPF:</spam><input type="number" class="form-control form-control-sm ml-2"/>
            </p>
            <p class="col-5 ml-2">
                <spam class="ml-2">RG:</spam><input type="text" class="form-control form-control-sm ml-2"/>
            </p>
        </div>
        <div class="form-row">
            <p class="col-5 ml-2">
                <spam class="ml-2">Telefone Fixo:</spam><input type="number" class="form-control form-control-sm ml-2"/>
            </p>
            <p class="col-5 ml-2">
                <spam class="ml-2">Telefone Celular:</spam><input type="number" class="form-control form-control-sm ml-2"/>
            </p>
        </div>
        <p class="col-5 ml-3 pt-4">
            <input type="checkbox" name="A" value="A"> Ativo
        </p>
    </div>
</div>