@{
    ViewData["Title"] = "Usuários";
}

@section styles {
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />    
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/fontawesome.css"  />
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Usuários</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">                    
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Usuários</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Usuários</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data Nascimento</th>
                                    <th>Login</th>
                                    <th>Email</th>
                                    <th>Ativo</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Angelica Ramos</td>
                                    <td>13/11/1968</td>
                                    <td>angelicar</td>
                                    <td>angelicar@maktub.com</td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark ">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bruno Nash</td>
                                    <td>14/08/1999</td>
                                    <td>brunona</td>
                                    <td>brunona@maktub.com</td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Donna Snider</td>
                                    <td>02/06/1991</td>
                                    <td>donnasn</td>
                                    <td>donnasn@maktub.com</td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jennifer Acosta</td>
                                    <td>09/06/1988</td>
                                    <td>jenniferac</td>
                                    <td>jenniferac@maktub.com</td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paulo Nascimento</td>
                                    <td>14/07/1971</td>
                                    <td>paulona</td>
                                    <td>paulona@maktub.com</td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Michael Silva</td>
                                    <td>27/02/1983</td>
                                    <td>michaelsi</td>
                                    <td>michaelsi@maktub.com</td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sonia Costa</td>
                                    <td>03/09/1974</td>
                                    <td>soniaco</td>
                                    <td>soniaco@maktub.com</td>
                                    <td>Sim</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sergio Batista</td>
                                    <td>18/12/1982</td>
                                    <td>sergioba</td>
                                    <td>sergioba@maktub.com</td>
                                    <td>Não</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tatiana Fitzpatrick</td>
                                    <td>07/07/1974</td>
                                    <td>tatianafi</td>
                                    <td>tatianafi@maktub.com</td>
                                    <td>Não</td>
                                    <td>
                                        <div class="badge badge-info"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Novo <span class="fas fa-file text-white"></span></a></div>
                                        <div class="badge badge-warning text-dark"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-dark">Editar <span class="fas fa-edit text-dark"></span></a></div>
                                        <div class="badge badge-success"><a asp-area="" asp-controller="ControleAcesso" asp-action="FormUsuario" asp-fragment="" class="text-white">Detalhes <span class="fas fa-info-circle class=" text-white""></span></a></div>
                                    </td>
                                </tr>
                            </tbody>                            
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- DataTables -->

@section scripts {

    <script src="~/lib/jquery.dataTables.js"></script>
    <script src="~/lib/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "language": {
                    "emptyTable": "Não há registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Registros",
                    "infoFiltered": "(Filtrando de _MAX_ total Registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Registros",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Busca:",
                    "zeroRecords": "Nenhum registro foi encontrado",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Pr&oacutexima",
                        "previous": "Anterior"
                    },
                },
                "order": [[0, "desc"]], lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                dom: "<'row mai-datatable-header'<'col-sm-6'l><'col-sm-6 text-right'B>><'row mai-datatable-body'<'col-sm-12'tr>><'row mai-datatable-footer'<'col-sm-5'i><'col-sm-7'p>>"
            });
        });
    </script>
}


