<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maktub Portal Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/jqvmap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
        <link href="~/lib/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/adminlte.css" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/adminlte.min.js"></script>
        <script src="~/lib/jquery.vmap.js"></script>
        <script src="~/lib/jquery.vmap.brazil.js" charset="utf-8"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
    </environment>
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contato</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/images/logo_maktub_redondo2.png" alt="Logo Maktub" class="brand-image img-circle elevation-3">
                <span class="brand-text brand-maktub font-weight-bold">Maktub</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img class="img-circle fa-user-circle" src="~/images/profile-user.png" alt="Imagem do Usuário">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Usuario</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                        <!--Controle de Acesso-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-unlock-alt"></i>
                                <p>
                                    Controle de Acesso
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="Usuario" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Usuário</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormPerfil" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Perfil Acesso</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormModulo" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Módulo</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormPagina" class="nav-link">
                                        <i class="far fa-1x fa-circle nav-icon"></i>
                                        <p>Página</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormSubpagina" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sub Página</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Função</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Permissão de Acesso</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /. Controle de Acesso-->
                        <!-- Cadastros-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-folder"></i>
                                <p>
                                    Cadastros
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <!--DADOS BANCÁRIOS-->
                                <li class="nav-header">DADOS BANCÁRIOS</li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormBanco" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Banco</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormDadosBanco" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dados Bancários</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormTipoConta" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tipo de Conta</p>
                                    </a>
                                </li>
                                <!--/.DADOS BANCÁRIOS-->
                                <!--DADOS BANCÁRIOS-->
                                <li class="nav-header">CLIENTES</li>

                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormBandeira" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bandeira</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="Cliente" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Cliente</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="Filial" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Filial</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormGrupoEmpresarial" class="nav-link"> 
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Grupo</p>
                                    </a>
                                </li>
                                <li class="nav-header">SERVIÇO</li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormMaterial" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Material</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormServico" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Serviço</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormServicoTecnico" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Técnico</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="TipoServico" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tipo de Serviço</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /. Cadastros-->
                        <!-- Ordem Serviço-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tools"></i>
                                <p>
                                    Ordem Serviço
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormOS1" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ordem de Serviço</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormMovimentacao" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Movimentação de OS</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ControleAcesso" asp-action="FormAdmtoOS" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Adiantamento de OS</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /. Ordem Serviço-->
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @*<partial name="_CookieConsentPartial" />*@

        @RenderBody()
            
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Versão Beta
            </div>
            <!-- Default to the left -->
            <p class="text-center">&copy; 2020 Maktub - Portal Web. Desenvolvido por Code4 - Software House</p>
        </footer>
        
    </div>
    <!-- ./wrapper -->
    

    @RenderSection("Scripts", required: false)
</body>
</html>
